@font-face {
	font-family: 'Arimo';
	src: url('Arimo-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	background-color: #444400;
	color: white;
	font-family: 'Arimo'; /* asmo.s3m */
	font-size: 24pt;
	text-align: center;
}

.the-mese-block {
	text-align: center;
	margin-top: 40px;
	animation-duration: 2s;
	animation-name: spin;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	image-rendering: pixelated;
}

@keyframes spin {
	0%	{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}

h3 {
	margin-top: 70px;
	animation-duration: 0.5s;
	animation-name: text;
	animation-iteration-count: infinite;
}

@keyframes text {
	0%	{ transform: rotate(-5deg); }
	50%	{ transform: rotate(5deg); }
	100%{ transform: rotate(-5deg); }
}

@media (min-width: 850px) {
	.mese2, .mese3 { display: inline-block; }
}

@media (max-width: 850px) {
	.mese2, .mese3 { display: none; }
}

.cult-container {
	min-height: calc(100vh - 90px);
}
footer {
	height: 50px;
	text-align: right;
}

footer img {
  animation: pulse 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  image-rendering: pixelated;
  height: 62px;
  margin-right: 10px;
}

@keyframes pulse {
	0%	{ transform: scale(1); }
	25%	{ transform: scale(1.1); }
	100%{ transform: scale(1); }
}

a {
	color: lightblue;
	text-decoration: none;
}
a#audioBtn {
	margin-top: 40px;
}
